In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from google.colab import files

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import io

cont = pd.read_csv('/content/drive/MyDrive/Kaggle/content.csv')
corr = pd.read_csv('/content/drive/MyDrive/Kaggle/correlations.csv')
tops = pd.read_csv('/content/drive/MyDrive/Kaggle/topics.csv')

In [ ]:
eng = tops[(tops["language"] == "en") & (tops["level"] > 0)].iloc[:, [1,2,7]]
eng = eng.to_numpy()

for i in eng:
    for j in range(2):
        try:
            if np.isnan(i[j]):
                i[j] = '.'
        except:
            pass

words = ["" for _ in range(len(eng))]

n = 0
for i in range(len(eng)):
    words[i] = eng[i][0] + " " + eng[i][1]

    s = eng[i][2]
    t1 = tops[tops["id"] == s]["title"].values[0]
    t2 = tops[tops["id"] == s]["description"].values[0]

    if not(pd.isnull(t1)):
        words[i] += " " + t1
    if not(pd.isnull(t2)):
        words[i] += " " + t2

    n += 1
    if n%5000 == 0:
        print(n)

5000
10000
15000
20000
25000
30000
35000

In [ ]:
print(len(words))

36079

In [ ]:
print(words)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
a = [1]
b = a
c = a.copy()
b[0] = 2
c[0] = 3
print(a, b, c)

[2] [2] [3]

In [ ]:
from nltk import download
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer

download('stopwords')
download('punkt')
download('wordnet')
download('omw-1.4')
stop_words = set(stopwords.words('english'))
#tokenizer = RegexpTokenizer(r'\w+')
tokenizer = RegexpTokenizer(r'[a-zA-Z]+')
lemmatizer = WordNetLemmatizer()

def clean(text):
    text = text.lower()
    word_tokens = tokenizer.tokenize(" ".join(word_tokenize(text)))

    filtered_sentence = [lemmatizer.lemmatize(w) for w in word_tokens if not w in stop_words]
    return filtered_sentence

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [ ]:
try:
    kesehotum = clean(".Flow Charts: Logical Thinking?This lesson is focused on flow charts. It hikesehotum")
    print(kesehotum)

except:
    print("no u")

['flow', 'chart', 'logical', 'thinking', 'lesson', 'focused', 'flow', 'chart', 'hikesehotum']

In [ ]:
filter = words.copy()
for i in range(len(words)):
    filter[i] = clean(filter[i])

# print(filter)

In [ ]:
with open('final_keywords.txt', 'w') as f:
    for i in range(len(filter)):
        f.write(" ".join(filter[i]) + "\n")

In [ ]:
len(filter)

36079

# Old Stuff

In [ ]:
# main = tops[["id", "title", "level", "parent", "has_content"]]
# main.head()

In [ ]:
# main["children"] = [set() for _ in range(len(main))]
# main.head()

In [ ]:
# main.head(10)

In [ ]:
# temp = np.where(main["id"] == "t_f9c4ef0d6290")
# print(temp[0][0])
# print(main.iloc[75073]["children"])

In [ ]:
# for index, row in main.iterrows():
#     if row["level"] != 0:
#         temp = main.iloc[np.where((main["id"] == row["parent"]))[0][0]]["children"]
#         temp.add(row["id"])

# main.head()

In [ ]:
# main.to_csv("revised_topics.csv")

In [ ]:
# main = pd.read_csv('/content/drive/MyDrive/Kaggle/revised_topics.csv')

In [ ]:
# parent = tops.loc[tops["id"]=="t_000095e03056"]['parent'].values[0]
# child = tops.loc[tops["parent"]=="t_000095e03056"]['id'].values[0]

# #tops.loc[tops['id']==parent]
# tops.loc[tops['id']==child]

In [ ]:
# tops.loc[(tops.level == 1) & (tops.has_content == True)]

In [ ]:
# corr.loc[corr['topic_id']==child]

In [ ]:
# # Pseudocode for generating outlines
# '''
# using topics dataset
# start from level  0 topics
# query all topics that have that level 0 topic as parent
# query all topics that have that level 1 topic as parent
# repeat until deadends

# using correlations dataset and content dataset
# find content name and put it under the topic it matches

# '''

In [ ]:
# cont.head(3)

,id,title,description,kind,text,language,copyright_holder,license
0,c_00002381196d,"Sumar números de varios dígitos: 48,029+233,930","Suma 48,029+233,930 mediante el algoritmo está...",video,NaN,es,NaN,NaN
1,c_000087304a9e,Trovare i fattori di un numero,Sal trova i fattori di 120.\n\n,video,NaN,it,NaN,NaN
2,c_0000ad142ddb,Sumar curvas de demanda,Cómo añadir curvas de demanda\n\n,video,NaN,es,NaN,NaN

In [ ]:
# tops.head(3)

,id,title,description,channel,category,level,language,parent,has_content
0,t_00004da3a1b2,Откриването на резисторите,"Изследване на материали, които предизвикват на...",000cf7,source,4,bg,t_16e29365b50d,True
1,t_000095e03056,Unit 3.3 Enlargements and Similarities,NaN,b3f329,aligned,2,en,t_aa32fb6252dc,False
2,t_00068291e9a4,Entradas e saídas de uma função,Entenda um pouco mais sobre funções.,8e286a,source,4,pt,t_d14b6c2a2b70,True

In [ ]:
# tops[tops["id"] == "t_bcf10c48c68b"]["level"].values[0]

0

In [ ]:
# tops.loc[(tops["language"] == "en") & (tops["channel"] == "ebc86c")].head(3)

,id,title,description,channel,category,level,language,parent,has_content
6,t_0008a1bd84ba,12. 20: Bird Reproduction,NaN,ebc86c,supplemental,5,en,t_c44ac9711007,True
23,t_00181801a645,Book: Microbiology (Kaiser),NaN,ebc86c,supplemental,3,en,t_324ab09c3885,False
61,t_003bb2871126,7.5: Prokaryote Habitats,NaN,ebc86c,supplemental,5,en,t_93432336a78c,True

In [ ]:
# tops.loc[(tops["language"] == "en") & (tops["has_content"] == True)].iloc[:, [1,2]].head(4)

,title,description
3,Transcripts,NaN
6,12. 20: Bird Reproduction,NaN
8,2.1.2 - Logarithms,NaN
10,Triangles and polygons,Learning outcomes: students must be able to so...

In [ ]:
# n_tops = tops.loc[(tops["language"] == "en") & (tops["has_content"] == True)].iloc[:, [0, 1, 2, 7]]
# x = n_tops.reset_index().drop("index", axis=1)
# x.head(3)

               id                      title description          parent
0  t_00069b63a70a                Transcripts         NaN  t_4054df11a74e
1  t_0008a1bd84ba  12. 20: Bird Reproduction         NaN  t_c44ac9711007
2  t_000d1fb3f2f5         2.1.2 - Logarithms         NaN  t_b897d168db90

In [ ]:
# print(x.iloc[0]["parent"])

t_4054df11a74e

In [ ]:
# tops[tops["parent"] == "t_6e0c6c2f99de"].head(2)

,id,title,description,channel,category,level,language,parent,has_content
5639,t_12e343e9c540,পশ্চিমবঙ্গ,NaN,4d2d4a,source,1,bn,t_6e0c6c2f99de,False
14048,t_2efac8b92267,अखिल भारतीय हिंदी,NaN,4d2d4a,source,1,hi,t_6e0c6c2f99de,False

In [ ]:
# x["parents"] = [[] for _ in range(len(x))]
# for i in range(76,len(x)):
#     if i%100 == 0:
#         print(i)
#     temp = x.iloc[i]["parent"]
#     x.iloc[i]["parents"].append(temp)
#     while tops[tops["id"] == temp]["level"].values[0] > 0:
#         temp = tops[tops["id"] == temp]["parent"].values[0]
#         x.iloc[i]["parents"].append(temp)

# x.head(4)